[
    {
        "port": 9876,
        "name": "cc_market"
    },
    {
        "port": 80,
        "name": "maze"
    },
    {
        "port": 8080,
        "name": "scadent"
    },
    {
        "port": 5000,
        "name": "starchaser"
    },
    {
        "port": 1883,
        "name": "scadnet_bin"
    },
    {
        "port": -1,
        "name": "other"
    }
]