version: 2.1
jobs:
  build:
    docker: 
      - image: cimg/base:2020.01 
    steps:
      - checkout 
      - setup_remote_docker
      - run: echo "Running docker compose up!"
      - run: docker-compose up