/* 
 * This file is part of Flower.
 * 
 * Copyright ©2018 Nicolò Mazzucato
 * Copyright ©2018 Antonio Groza
 * Copyright ©2018 Brunello Simone
 * Copyright ©2018 Alessio Marotta
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 * 
 * Flower is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Flower is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Flower.  If not, see <https://www.gnu.org/licenses/>.
 */

.App {
   text-align: center;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
}

.App-header {
   background-color: #222;
   height: 150px;
   padding: 20px;
   color: white;
}

.App-title {
   font-size: 1.5em;
}

.App-intro {
   font-size: large;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.rows .row {
   display: inline-block;
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.column_4_small {
   float: left;
   top: 0px;
   bottom: 0px;
   width: 15%;
   height: 100vh;
   padding: 1px;
   margin: 10px;
}
.column_4_big {
   float: left;
   top: 0px;
   bottom: 0px;
   width: 30%;
   height: 100vh;
   padding: 1px;
   margin: 10px;
}
.column_2 {
   float: left;
   top: 0px;
   bottom: 0px;
   width: 50%;
   height: 100vh;
   padding: 1px;
   margin: 10px;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}

#fav_flow {
   width: 96px;
   height: 200px;
   padding: 2px;
   border: 1px solid #000;
   float: left;
   background-color: #f00;
}

#all_flow {
   width: 96px;
   padding: 2px;
   height: 100%;
   border: 1px solid #000;
   float: right;
   background-color: #f00;
}

#flow_details {
   padding: 2px;

   height: 100%;
   margin-left: 105px;
   border: 1px solid #000;
   background-color: #090;
}
